h1 {
font-size: 50px;
text-align: center;
font-family: Arial;

}
h2 { 
font-size: 40px;
font-family: Vernada; 
text-align: center;
font-weight: normal;

}
p {
font-size: 30px;
font-family: comic sans ms;
text-align: center;
/ чтобы лучше смотрелось сделал по центру /
}
img {
	display: block;
	margin: 30px auto;
	 border-radius: 10px;
}
header {
	display: flex;
	justify-content: center;
	 box-shadow: 0 5px 10px #ccc;
}
.Logo, .Top_menu {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0;
}
.Top_menu li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.Top_menu a {
	font-family: Comic Sans MS;
	font-size: 15px;
	text-decoration: none;
	color: black;
	vertical-align: middle;
}
.Logo h2 {
	font-family: Comic Sans MS;
	font-size: 25px;
	color: black;
	vertical-align: middle;
}
.Top_menu a:hover{
	color: #26c4FF;
}
a {
	text-decoration: none;
}
 a:hover {
	color: #26c4FF;
}
/ чтобы лучше смотрелось внес свои правки /